@import "reset.less";

body {
	font-family: Sans-Serif;
	text-rendering: optimizeLegibility;
	--black: rgba(22, 32, 51, 1);
	--alt-3: rgba(36, 89, 150, 1);
	--alt-2: rgba(206, 45, 64, 1);
	--alt-1: rgba(211, 67, 57, 1);
	--white: rgba(225, 227, 232, 1);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--alt-3);
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: var(--black);
}
