!#arg feeds []hydrocarbon.Feed

!#extends base

!#sub body

<a href="/feeds/new">New Feed</a>
<ul class="sidebar folder-list">
! for _, f := range loggedInUser.Folders {
	<li data-folder-id="{{s f.ID}}" class="folder-group">
		<span class="folder-handle">|HANDLE|</span> {{s f.Name }}
		<ul class="feed-list">
		{{! for _, fd := range f.Feeds }}
	    	<li data-feed-id="{{s fd.ID}}"><span class="feed-handle">|HANDLE|</span><a href="/feeds?id={{s fd.ID}}">{{s fd.Name }}</a></li>
		{{! end }}
		</ul>
	</li>
! }
</ul>

<div class="posts">


</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.0-rc1/Sortable.min.js"></script>

<script>
var feeds = document.getElementsByClassName("feed-list");
for (var i=0, feed; feed = feeds[i]; i++) {
	Sortable.create(feed, {
	    handle: ".feed-handle"
	});
};

var folders = document.getElementsByClassName("folder-list");
for (var i=0, folder; folder = folders[i]; i++) {
	Sortable.create(folder, {
	    handle: ".folder-handle"
	});
};
</script>
