!#extends base

!#sub head

!#sub body

<h1>User Settings Page</h1><br>

<h3> Manage Subscription </h3>

<p> stripe stuff will go here </p>

<h3> Delete my Account </h3>
<p>To fully delete your account, please email ian@hydrocarbon.io</p>
